@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: theme('colors.textColor');
    background: theme('colors.primary');
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: theme('colors.gray.700');
}

::-webkit-scrollbar-thumb {
    background: theme('colors.primary');
    border-radius: theme('borderRadius.2xl');
}

::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.800');
}

body {
    background: theme('colors.background');
    color: theme('colors.textColor');
}
